<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link href="../static/css/blogsheet.css" rel="stylesheet">
    <link href="../static/css/lib/highlight.css" rel="stylesheet">
    <style> 
.divcss5{text-align:center} 

</style>
</head>
<body>

{{template "block/nav.html" .}}

<div class="divcss5"><img src="../static/img/tangpingcat.jpeg" >

    <span class="divcss5-right" style="position: absolute; top: 40%; left: 60%;">
       
            <h1 style="float:left;">躺平是一种信仰、是一种生活态度</h1>
            <h1 style="float:left;">欢迎加入勇于躺平的我们，一起抒写我们的躺平!</h1>
            <h1 style="float:left;">联系方式：tangping@cmss</h1>
      
    </span>
</div>
</body>
</html>